.post-img__img.s-post-img {
    width: 41px;
}

.hnav {
    position: relative;
}

.likepages .likepages__box {
    position: absolute;
    top: 40px;
    right: 7px;
    width: 483px;
    max-height: 363px;
    background-color: white;
    overflow-y: scroll;
    box-shadow: 0 0 3px 1px rgb(207, 205, 205);
    animation: rollDown 0.6s linear forwards;
}

.boox {
    position: absolute;
    top: 34px;
    right: 64px;
    width: 12px;
    height: 12px;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(207, 205, 205);
    transform: rotate(225deg);
}

.booxx {
    position: absolute;
    top: 32px;
    right: 58px;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid white;
    z-index: 1;
    
}

.likepage__close {
    min-height: 65px;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(192, 191, 191);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.close__name {
    border: 1px solid rgb(185, 184, 184);
    padding: 5px 20px;
    border-radius: 10px;
    color: rgb(121, 119, 119);
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.close__name:hover {
    background-color: rgb(72, 145, 255);
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.likepages .likepage__list {
    width: 100%;
    
    padding: 0px 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: "Catamaran", sans-serif;
}

.likepage__list .list-column {
    display: flex;
    align-items: center;
}

.likepage__list .column-secondbox {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(194, 192, 192);
}

.likepage__list .list__id {
    font-weight: 600;
    margin-right: 1px;
}

